MEPizza/src/conf/xml-resources/web-service-references/BankingWS/wsdl/localhost_8080/BankWebService/BankingWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="checkAccountBalance" type="tns:checkAccountBalance"/>

<xs:element name="checkAccountBalanceResponse" type="tns:checkAccountBalanceResponse"/>

<xs:element name="sendMailToAccount" type="tns:sendMailToAccount"/>

<xs:element name="sendMailToAccountResponse" type="tns:sendMailToAccountResponse"/>

<xs:complexType name="sendMailToAccount">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="orderInfo" type="xs:string" minOccurs="0"/>
<xs:element name="orderNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendMailToAccountResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkAccountBalance">
<xs:sequence>
<xs:element name="price" type="xs:int"/>
<xs:element name="cardNmbr" type="xs:string" minOccurs="0"/>
<xs:element name="csv" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkAccountBalanceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>